:root {
    --bg: #243a69;
    --color: #dcdddd;
    --box-shadow: 0px -2px 7px 10px #001DFF;
    --border: 1px solid #3f5a94;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    border: none;
}

body {
    background-color: var(--bg);
    color: var(--color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--border);
    margin: 0 auto;
    z-index: 99;
    background-color: var(--bg);
}

.navecacao {
    display: flex;
    gap: 35px;
    padding: 1rem 0;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
}

.navecacao a {
   position: relative;
   color: var(--color);
}
.navecacao a:hover {
    color: #8848ff;
}
.navecacao a::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
}

.navecacao a::after::before {
    border-bottom: var(--border);
}
.grid-guys {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.separe {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 40px;
}

.guys h1 {
    font-size: 4rem;
    font-weight: 600;
}

.guys span {
    color: #6f3cce;
}

.guys p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #c5c5c5;
}
.photo img{
    display: inline-block;
    margin-left: 40px;
    width: 460px;
    height: 300px;
}

.guys a {
    border: var(--border);
    padding: 0.5rem 1rem;
    margin: 1.3rem 0.5rem;
    display: inline-block;
    border-radius: 10px;
    background-color: transparent;
    color: var(--color);
}
.guys a:hover {
    background-color:#005fad;
     transform: scale(1.06);

}
.sobre {
    margin-top: 5rem;
}

.sobre-text {
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
    font-weight: 600;
}

.paragrafo-text {
    width: 100%;
   margin: 0 auto;
   line-height: 1.3;
}